* {
    margin: 0px; padding: 0px;
}
img {
    border: 0px;
}

#header {
    height: 100px;
    background: #aaf;
}
#middle {
    background: #afa;
}
#footer {
    height: 50px;
    background: #faa;
    text-align: center;
}

.center {
    width: 1024px;
    margin: 0px auto;
    clear: both;
    overflow: hidden;
}

#main {
    width: 700px;
    float: left;
}

#side {
    width: 300px;
    float: right;
}

